<div class="container col-xxl-8 px-4 py-2">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-lg-4 col-12 d-flex justify-content-center">
      <img src="https://i.pinimg.com/564x/bd/56/30/bd5630fd75cd92c54856316809c7dd99.jpg" class=""
        style="background-size:cover; max-height: 50vh;width:max-content">
    </div>
    <div class="col-lg-8 col-12 mx-auto">
      <h3 class="display-5 fw-bold lh-1 mb-3">Anotador de tareas</h3>
      <p class="lead">Esta aplicación tiene la funcionalidad de establecer un registro de tareas en la cual nos permite
        agregar, eliminar y modificar. Espero que les sea de utilidad.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="/tareas" class="btn btn-primary btn-lg px-4 me-md-2">Ingresar</a>
      </div>
    </div>
  </div>
</div>